.index {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  > * {
    margin-bottom: 12px;
  }
  img {
    width: 160px;
  }

  .des {
    color: #333;
  }
}

