.index {
  padding: 8px 16px;
  background: #fff;
  .searchBox {
    display: flex;
    .input {
      flex: 1;
    }
    .btn {
      margin-left: 8px;
    }
  }
  .toolBar {
    display: flex;
    padding-top: 8px;
    font-size: 12px;
    .state {
      flex: 1;
      color: #333;
    }
  }
}

